<!-- edit.component.html -->
<div class="card">
  <div class="card-header"><h5 class="card-title">Edit Author</h5></div>
  <div class="card-body">
    <form [formGroup]="authorForm" (submit)="editAuthor()"> <!-- Corrected to call editAuthor() method -->
      <div class="form-group">
        <label for="first_name">First Name</label>
        <input type="text" formControlName="first_name" class="form-control" required>
        <div *ngIf="authorForm.get('first_name').invalid && authorForm.get('first_name').touched" class="text-danger">
          First Name is required.
        </div>
      </div>
      <div class="form-group">
        <label for="last_name">Last Name</label>
        <input type="text" formControlName="last_name" class="form-control" required>
        <div *ngIf="authorForm.get('last_name').invalid && authorForm.get('last_name').touched" class="text-danger">
          Last Name is required.
        </div>
      </div>
      <div class="pt-2 form-group">
        <button type="submit" class="btn btn-success btn-lg btn-block">Update Author</button>
      </div>
      
    </form>
  </div>
</div>
